.main_slider_wrapper
	margin: 0 10px 30px
	@media(min-width:992px)
		margin: 0 50px 30px 
// .main_slider
// 	.owl-dots
// 		span 
// 			width: 20px
// 			height: 20px
// 			background-color: #000
// .owl-carousel button.owl-dot
// 	width: 20px
// 	height: 20px
	// background-color: #000
.main_slider_item
	background-color: #D8EBED
	border-radius: 15px
	padding: 30px
	.main_slider_img
		margin: 0 auto
		width: auto
.main_slider_content
	margin-top: 30px
.slide_subtitle
	font-weight: 500
	font-size: 13px
	@media(min-width:992px)
		font-size: 16px
.slide_description
	margin: 15px 0 40px
	font-size: 10px
	@media(min-width:992px)
		font-size: 12px
.main_slider_left, .main_slider_right
	position: absolute
	top: 50%
.main_slider_left
	transform: translate(-50%, -100%)

.main_slider_right
	transform: translate(50%, -100%)
	right: 0

.partners_slider, .our_blog_slider, .views_slider
	.slider_item
		height: 120px
		img 
			margin: 0 auto
	.owl-nav
		position: absolute
		top: -55px
		right: 0px
	.owl-nav button.owl-prev, .owl-nav button.owl-next
		height: 20px
		outline: none
		span 
			outline: none
			font-size: 30px
			margin-right: 10px
	.owl-dots
		position: absolute
		width: 100%
		padding-left: 30px
		top: -34px
		left: 0px
		@media(min-width:992px)
			padding-left: 0px
	button.owl-dot
		height: 2px
		width: 15%
	button.owl-dot.active
		background-color: $green
.views_slider
	.views_slider_item
		width: 240px
		text-align: center
		margin: 0 auto
		.catalog_item
			display: block
			@media(min-width:992px)
				border: none
		.catalog_item_img_block
			background-color: #F6F7F9
			padding: 15px 20px
			.catalog_item_img
				width: 70%
				margin: 0 auto
			.label
				top: 20px
				left: 20px
			.balance
				top: 20px
				right: 20px
		.catalog_item_top_block
			background-color: #fff
			padding: 15px 20px
		.catalog_item_price .old_price
			padding: 0 0 0 10px
		.catalog_item_rating 
			margin-top: 20px
			img
				display: inline-block
	.slider_item
		height: auto
		img 
			margin: 0 auto
	.owl-nav
		position: static
		top: 50%
		button.owl-prev
			left: 5px
			@media(min-width:992px)
				transform: translateX(-50%)
		button.owl-next
			right: 5px
			@media(min-width:992px)
				transform: translateX(50%)
	.owl-nav button.owl-prev, .owl-nav button.owl-next
		position: absolute
		top: 50%
		height: 20px
		outline: none
		// transform: translateX(100%)
		// @media(min-width:992px)
		// 	transform: translateX(50%)
		span 
			outline: none
			font-size: 30px
			margin-right: 10px

.slider_title
	font-weight: 700
	font-size: 18px
	padding-bottom: 10px
	margin: 0 30px 20px
	border-bottom: 1px solid #e4e4e4
	@media(min-width:992px)
		margin: 0 0px 20px
.our_blog_slider
	.slider_item
		height: auto
		img 
			margin: 0
	.slider_item_title
		margin: 10px 0
	.slider_item_text
		// font-weight: 700
		font-size: 14px
	.our_blog_read_more
		position: relative
		width: 160px
		font-size: 14px
		font-weight: 700
		margin: 10px 0
		// padding: 10px 0
		display: block
		&::after
			position: absolute
			content: ''
			right: 0px
			top: 0px
			width: 23px
			height: 15px
			background-image: url('../../img/icons/read_more_arr.png')
